@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
  a{
  font-size: 16px;
}
	/************************** LOGIN ********************************/
	.body_login{
	  font-size: 18px;
	  line-height: 1.72222;
	  color: #34495e;
	}
  .img-login{
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  .img-login2{
    width: 120px;
    height: 60px;
    vertical-align: middle;
  }
  .login-menu{
    width:800px; 
    text-align:center;
  }
  .bttm-pen{
    margin-left:10px;
  }
  .btn-primary {
    color: #ffffff;
  }
  .btn-lg {
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
  }
  label {
    font-weight: normal;
    font-size: 15px;
    line-height: 2.4;
  }
  .login {
    padding: 0px 138px 0px;
    position: relative;
  }
  .login-screen {
    min-height: 317px;
    padding: 100px 13px 33px 123px;
  }
  #input-login{
    width:94.5%;
  }
  #input-submit{
    width:100%;
  }
  .login-form {
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
    width: 500px;
    margin:0px 130px;
  }
  .login-link {
    color: ;
    display: block;
    font-size: 13px;
    margin-top: 15px;
    text-align: left;
  }
  .icon-key,
  .icon-user{
    position:absolute;
    right: 5px;
    top:15px;
    font-size: 20px;
  }
  .btn {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border: none;
    border-radius: 0px;
    }
  .bttm-ap{
    display:table-cell; 
    text-align:left; 
    padding-left:640px;
  }
  .footer-id{
    display:table; 
    width:100%; 
    margin-top:30px;
  }
  div.menum span {
    font-size:24px; 
    font-weight:bold;
  }
  div.menum2{
    line-height: 1;
    font-size:24px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .img-login2{
    width: 150px;
    height: 60px;
  }
/************************** END LOGIN ********************************/
/************************** SELECT ********************************/

.ui-left-choose-screen ,.ui-middle-choose-screen{
  float:left; 
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  overflow: hidden;
  position: relative;
}
.ui-left-choose-screen{
  width:40%;
}
.try2{
   position: relative;
   z-index: 5 !important;
}
.try{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 100%;
    background-image: url('../images/partition bar orange.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-attachment: fixed;
    background-position: center;
      z-index: 1;
      /* These three lines are for transparency in all browsers. */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=20);
      opacity: .9;
}
.try4{
   position: relative;
   z-index: 5 !important;
}
.try3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background-image: url('../images/partition bar cyan.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-attachment: fixed;
    background-position: center;
      z-index: 1;
      /* These three lines are for transparency in all browsers. */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=20);
      opacity: .9;
}
.ui-user-screen{
  width:100%;
}
.ui-middle-choose-screen{
  width:60%;
}
.ui-padding{
  margin-top:15px;
  padding-left:50px;
}
.ui-icon-screen{
  width: 80px;
  height: 80px;
  padding:10px;
}
.ui-content-color-style{
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  opacity: .7;
  z-index: 99999999;
  filter:alpha(opacity=140);
  background-color:#79B6D8;
  background-blend-mode: multiply; 
}
.ui-text-style{
  margin-left:30px; 
  margin-top:40px; 
  position:absolute;
  padding: 5px;
  border-radius:5px; 
  width: 400px;
  font-size:20px;
  font-weight:bold;
}
.kotak{
  width: 100px;
  height: 100px;;
}
#ui-log{
  display: none;
}
.mains{
  position: relative;
  color: black;
  margin-top:150px;
  line-height: 1;
}
  span.b-mobile{
    display: none;
  }
/************************** END SELECT ********************************/
/************************** LEFT  ********************************/
#loginBox {
    position:absolute;
    top:155px;
    right:5px;
    display:none;
    z-index:29;
}
.login-menu{
  width:800px;
  text-align:center;
}
.header-page{
  background: #FFFF99;  
  font-size:17px; 
  font-weight:bold; 
  padding-top:5px; 
  padding-bottom:5px; 
  margin-top:0px; 
  color:white;
  }
  .color_style_1 span a {
    font-size: 20px;
  }
  #page{
    display: none;
  }
/************************** END LEFT  ********************************/

  /************************** MAIN ********************************/
  .body-screen{
    color:white;
    opacity: 1;
    filter:alpha(opacity=140);
  }
  .ui-left-screen ,.ui-middle-screen{
    float:left;  
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    overflow: hidden;
  }
  .ui-left-screen{
    left: 0px;
    right:0px;
    width: 20%;
    position: fixed;
    z-index: 2;
    top: ;
    border-radius: 0;
    border: none;
    overflow-y: auto;
    overflow: hidden;
    
  }
  .ui-middle-screen{
    margin-left: 20%;
    margin-top: 2%;
    right:0px;
    width:80%;
    z-index: 2;
  }
  /************************** END MAIN ********************************/
  .td-assest2{
    padding-left: 10px;
    width: 200px;
    text-align: right;
    vertical-align: top;
  }
table.ui-content-middle-menu-workorder3 tr td a{
font-size:14px;
}
  table.ui-content-middle-menu-workorder2 tr td a ,.td-desk a ,table.tftabledetail2 tr td a{
    font-size: 18px;
  }
  td.default-NO{
  color:red; 
  text-transform: uppercase; 
  font-size:18px;
}
.td-content2{
  width: 50%;
}
table.ui-desk-style-table3{
  width: 92%;
}
td.theadap{
  padding-left: 400px;
}
table.ui-desk-style-table4{
  width: 98%;
}
div.mobbprt{
  display:table; 
  margin-left:auto; 
  margin-right:auto; 
  width:; 
  float: right;
}
div.mobbprt a button{
  display:table-cell; 
  margin-left:5px; 
  margin-right:5px; 
}
}
