/*=========tablet============ */
@media only screen and (min-width : 760px) and (max-width : 1024px) and (orientation : landscape) {
  div.menum img.camsis2-main-logo{
    height: 77px;
    display: ;
    margin-left: 10px; 
  }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px)  and (orientation : portrait)  {
  img.camsis2-main-logo{
    height: 150px;
    display: block;
    margin: 10px auto 10px auto;
  }
}




/*==========phone============*/
@media only screen and (min-width : 0px) and (max-width : 425px) {
  div.menum img.camsis2-main-logo{
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width : 481px) and (max-width: 733px)  and (orientation : landscape) {
	img.camsis2-main-logo{
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display:table-cell;
  	padding-top:12%;
  }
}




/*==========desktop===========*/
@media screen and (min-device-width: 1200px){ 
  .camsis2-main-logo{
    margin-top:-50px;
    height: 77px;
    vertical-align: middle;
  }
}